
<h2>You want to edit your profile?</h2>

<%= form_with model: @user, local:true do|f| %>
    <div>
        <%=f.label :name %>
        <%=f.text_field :name %>
    </div>
  <div>
        <%=f.label :email %>
        <%=f.email_field :email %>
    </div>

     <%=f.submit%>
     <%= link_to "Change Password", password_path(current_user)%>
<%end%>