<%- include("./partials/header_nav") %>

<% for(let cohort of cohorts) { %>
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title"><img src="<%= cohort.logoUrl%>" alt="cohort_img" style="border-radius: 50%" width="50"
                height="50"><%= cohort.name %></h5>
        <p class="card-text"><%= cohort.members %></p>
        <a href="/cohorts/<%= cohort.id %>" class="btn btn-primary">Show Cohort</a>
    </div>
</div>
<%}%>
<%- include("./partials/footer") %>