<%- include("./partials/header") %>

<form action="/cohorts/<%=cohort.id%>" method="GET">
    <h3><%=cohort.name%></h3>
    <p> <%=cohort.members%> </p>
    <hr>
    <label for="">Method</label><br>
    <input type="radio" name="method" value="teamCount">Team Count<br>
    <input type="radio" name="method" value="numberPerTeam">Number Per Team<br>
    <lable for="">Qauntity</lable><br>
    <input type="text" name="quantity"><br>
    <div class="form-group">
        <input class="btn btn-primary" type="submit" value="Assign Team">
    </div>
</form>
<br>
<form class="form-group" action="/cohorts/<%= cohort.id%>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input class="btn btn-primary" type="submit" value="Delete">
</form>
<br>
<a class="btn btn-primary" href="/cohorts/<%= cohort.id%>/edit">Edit</a>
<div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Members</th>
        </tr>
    </thead>
</table>
    <% for (let i =0; i <teams.length; i++) { %>
        <table class ="table">
            <tbody>
                <tr>
                    <th scope="row"><%= i + 1%></th>
                    <td><%= teams[i] %></td>
                </tr>
            </tbody>
        </table>
        <% } %>
</div>

<%- include("./partials/footer") %>